
<body>
    <h1>Ejercicio Angular</h1>
    <div>
        <ul>
            <li>Ejercicio 1 agregar tipos a variables</li>
            <button (click)="ejercicio1()">Enviar tipos de datos ejercicio1</button>
            <li>Ejercicio 2</li>
            <button (click)="ejercicio2()">Enviar tipos de datos ejercicio2</button>
            <li>Ejercicio 3</li>
            <button (click)="ejercicio3()">Enviar tipos de datos ejercicio3</button>
            <li>Ejercicio 4 Array con macheo del tipo</li>
            <button (click)="ejercicio4()">Enviar tipos de datos ejercicio4</button>
        </ul>
    </div>
</body>



